@mixin center{
    display:flex;
    justify-content:center;
    align-items:center;
}
$main-color: #346994;
$second-color: #447ba8;
.mainContent{
    .theContent{
        min-width:100%;
        background-color:none;
        .commentTitle{
            background-color:white;
            font-size:20px;
            font-weight:bold;
        }
        .commentTable{
            .comment{
                box-shadow: 0 1px 2px rgb(182, 182, 182);
                margin-bottom: 20px;
                .customerTitle{
                    font-size:16px;
                    background-color:$main-color;
                    color:white;
                    padding: 10px;
                }
                .commentInfor{
                    margin:0;
                    padding:10px;
                }
                .theComment{
                    margin:0;
                    padding:10px;
                }
                .buttonComment{
                    margin:0;
                    padding:0;
                    button{
                        background-color:rgb(242, 242, 242);
                        border:none;
                        font-size:16px;
                        transition:0.5s;
                        font-weight:bold;
                        &:hover{
                            background-color:rgb(214, 214, 214);
                        }
                    }
                }
            }
        }
        .centerText{
            button{
                border:none;
                padding:8px;
                color:white;
                background-color:gray;  
                transition:0.5s;
                &:hover{
                    background-color:rgb(177, 177, 177);
                }
                &:disabled{
                    background-color:rgb(61, 61, 61);
                    color:gray;
                }
                &:enabled{
                    outline:none;
                }
            }
        }
    }  
}