.centerComponent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContent .theContent {
  min-width: 100%;
  background-color: none;
}

.mainContent .theContent .orderTitle {
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}

.mainContent .theContent .orderTable {
  padding: 0;
}

.mainContent .theContent .orderTable table.table {
  border: 1px solid lightgray;
  font-size: 14px;
}

.mainContent .theContent .orderTable table.table .tableButton {
  border-radius: 15px;
  background-color: #346994;
  color: white;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  font-size: 15px;
  height: 100%;
  padding: 2px;
}

.mainContent .theContent .orderTable table.table .tableButton:hover {
  background-color: #447ba8;
}

.mainContent .theContent .orderTable table.table .tableButton:enabled {
  outline: none;
}

.mainContent .theContent .orderTable table.table td, .mainContent .theContent .orderTable table.table th {
  text-align: center;
}

.mainContent .theContent .orderTable table.table tbody {
  border: none;
}

.mainContent .theContent .orderTable table.table tbody tr {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainContent .theContent .orderTable table.table tbody tr:nth-child(2n+3), .mainContent .theContent .orderTable table.table tbody tr:first-child {
  background-color: #fbfbfb;
}

.mainContent .theContent .orderTable table.table tbody .orderID {
  font-weight: light;
  color: #355d6a;
}

.mainContent .theContent .orderTable table.table tbody .waiting {
  color: red;
}

.mainContent .theContent .orderTable table.table tbody .processing {
  color: blue;
}

.mainContent .theContent .orderTable table.table tbody .handled {
  color: green;
}

.mainContent .theContent .orderTable .centerText button {
  border: none;
  padding: 8px;
  color: white;
  background-color: gray;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainContent .theContent .orderTable .centerText button:hover {
  background-color: #b1b1b1;
}

.mainContent .theContent .orderTable .centerText button:disabled {
  background-color: #3d3d3d;
  color: gray;
}

.mainContent .theContent .orderTable .centerText button:enabled {
  outline: none;
}

.mainContent .orderWaitingContent {
  background-color: white;
  min-width: 70%;
}

.mainContent .orderWaitingContent .orderWaitingContentTitle {
  background-color: #346994;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.mainContent .orderWaitingContent .customerInfor {
  color: gray;
}

.mainContent .orderWaitingContent .processButton {
  color: white;
  background-color: #346994;
  border: none;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainContent .orderWaitingContent .processButton:hover {
  background-color: #447ba8;
}

.mainContent .orderWaitingContent .processButton:enabled {
  outline: none;
}

.mainContent .orderWaitingContent .cancelButton {
  color: white;
  background-color: darkgray;
  border: none;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainContent .orderWaitingContent .cancelButton:hover {
  background-color: gray;
}

.mainContent .orderWaitingContent .cancelButton:enabled {
  outline: none;
}

.mainContent .orderProcessingContent {
  background-color: white;
}

.mainContent .orderProcessingContent .orderWaitingContentTitle {
  background-color: #346994;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.mainContent .orderProcessingContent .customerInfor {
  color: gray;
}

.mainContent .orderProcessingContent .processButton {
  color: white;
  background-color: #346994;
  border: none;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainContent .orderProcessingContent .processButton:hover {
  background-color: #447ba8;
}

.mainContent .orderProcessingContent .processButton:enabled {
  outline: none;
}

.mainContent .orderProcessingContent .doneButton {
  color: white;
  background-color: #519c51;
  border: none;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
}

.mainContent .orderProcessingContent .doneButton:hover {
  background-color: #3a7d3a;
}

.mainContent .orderProcessingContent .doneButton:enabled {
  outline: none;
}

.mainContent .orderProcessingContent .cancelButton {
  color: white;
  background-color: darkgray;
  border: none;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainContent .orderProcessingContent .cancelButton:hover {
  background-color: gray;
}

.mainContent .orderProcessingContent .cancelButton:enabled {
  outline: none;
}
/*# sourceMappingURL=orderStyle.css.map */